{{mysql_os_user}} soft nofile 131072
{{mysql_os_user}} hard memlock 128849018880
{{mysql_os_user}} soft memlock 128849018880
{{mysql_os_user}} soft core unlimited
{{mysql_os_user}} hard core unlimited
{{mysql_os_user}} hard nproc unlimited
{{mysql_os_user}} soft nproc unlimited
{{mysql_os_user}} hard nofile 131072
{{mysql_os_user}} hard stack unlimited
{{mysql_os_user}} soft stack 
root soft nofile 131072
root hard memlock 128849018880
root soft memlock 128849018880
root soft core unlimited
root hard core unlimited
root hard nproc unlimited
root soft nproc unlimited
root hard nofile 131072
root hard stack unlimited
root soft stack unlimited